body {
  background: black;
  color: lime;
  font-family: monospace;
  text-align: center;
}

nav {
  background: #111;
  padding: 10px;
}

nav a {
  color: cyan;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  color: red;
}
